openapi: 3.2.0
info:
  title: LOGILESS Locations API
  version: v1
  description: LOGILESS (ロジレス) is a Japanese cloud EC logistics platform that unifies order management (OMS) and warehouse management (WMS) for e-commerce merchants — order intake, inventory sync, allocation, shipping and warehouse operations.
  contact:
    name: LOGILESS Developers
    url: https://app2.logiless.com/developer/
  x-apievangelist-derived-from: https://app2.logiless.com/developer/documents/specifications
servers:
- url: https://app2.logiless.com/api/v1
  description: Production
security:
- oauth2: []
tags:
- name: Locations
  description: 店舗 / 倉庫 / ロケーション — stores, warehouses and locations
paths:
  /merchant/{merchant_id}/stores:
    get:
      tags:
      - Locations
      operationId: listStores
      summary: List stores (店舗の一覧を取得)
      parameters:
      - $ref: '#/components/parameters/merchantId'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: A page of stores
  /merchant/{merchant_id}/warehouses:
    get:
      tags:
      - Locations
      operationId: listWarehouses
      summary: List warehouses (倉庫の一覧を取得)
      parameters:
      - $ref: '#/components/parameters/merchantId'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: A page of warehouses
  /merchant/{merchant_id}/warehouses/{warehouse_id}/locations:
    get:
      tags:
      - Locations
      operationId: listLocations
      summary: List locations within a warehouse (ロケーションの一覧を取得)
      parameters:
      - $ref: '#/components/parameters/merchantId'
      - name: warehouse_id
        in: path
        required: true
        schema:
          type: integer
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: A page of locations
components:
  parameters:
    merchantId:
      name: merchant_id
      in: path
      required: true
      description: Merchant identifier the token is scoped to
      schema:
        type: string
    limit:
      name: limit
      in: query
      required: false
      description: Number of results to return. Default 20, maximum 500.
      schema:
        type: integer
        default: 20
        maximum: 500
    page:
      name: page
      in: query
      required: false
      description: Page number. Default 1.
      schema:
        type: integer
        default: 1
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization-code flow. Applications must be registered and reviewed (3–5 business days) in the LOGILESS Developers console. Access and refresh tokens are valid for 30 days. Tokens are issued per LOGILESS user and scoped to that user's merchant data.
      flows:
        authorizationCode:
          authorizationUrl: https://app2.logiless.com/oauth/v2/auth
          tokenUrl: https://app2.logiless.com/oauth2/token
          refreshUrl: https://app2.logiless.com/oauth2/token
          scopes: {}
